.costAlerter{
    background-color: red;
}
#totalMonthly{
    text-align: right;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #d6edff;
}
tr:nth-child(odd), th{
    background-color: #bad1cd;
}